body{
    margin: 0 auto;
font-family: sans-serif;
}

.header-nav{
    width: 635px;
    margin: auto;
}

.nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.nav-li{
    float: left;
    padding: 25px 32px;
}
.nav-a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}

.img-div{
width: 1400px;
margin: 0 auto;
}

.center-h2 {
    text-align: center;
}

.descriptive-div {
    width: 900px;
    margin: 0 auto;
}
.blueColor-span {
    color: #00C0CE;
}

.descriptive-div_list {
    width: 900px;
    margin: auto;
}

.main-ol {
    padding-left: 17px;
}

.btn-div {
    width: 115px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}
.lm-btn {
    background-color: #00C0CE;
    color: white;
    padding: 10px 23px;
    border: none;
}

.footer-hr {
    border-color: black;
}

.footer-p{
    text-align: center;
}